.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.note-editor-container {
  width: 45%;
  padding: 15px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.note-visualizer-container {
  width: 45%;
  padding: 15px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

textarea {
  margin-bottom: 10px;
}
